body {
    font-family: Arial, Helvetica, sans-serif;
}




/* header */

.header {
    box-shadow: 0 1px 20px #000;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
}

.header__nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 30px;
}

.header__logo {
    width: 30px;
    height: 30px;
}

.header__name {
    width: auto;
    height: 30px;
}

.header__name {
    font-family: "Great Vibes", cursive;
}

.header__nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 30px;
}

.header__button {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    border-radius: 50px;
}

.header__button--access {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.header__button:hover {
    background-color: #f0f0f0;
}

/* main */


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 200px;
    height: 400px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000;
    background-color: #fff;
}

.product__photo {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product__information {
    padding: auto;
    margin: 5px;
}

.product__button {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
}

/* footer */

.footer__bottom {
    text-align: center;
    background-color: #000;
}

.footer__name {
    font-family: "Great Vibes", cursive;
    padding: 5px 0;
    color: #fff;
}